input[type="text"], input[type="password"], input[type="checkbox"], textarea, select, check {
	outline: none;
	box-shadow:none !important;
	border:1px solid #ccc !important;
}

/* user list */
tbody.userList tr {
	cursor:pointer;
}

/* add user */
#addUserForm input[type="checkbox"] {
	width:20px;
	height:20px;
}

.form-control{
	margin-bottom: 5px;
}

.mBottom10 {
	margin-bottom:10px;
}

.textCenter {
	text-align: center;
}

.hermine-table>tbody>tr:nth-of-type(even) {
    background-color: #87cefa;
}
.hermine-table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.hermine-table-th{
	background-color: #365f91;
	color: white;
}

.hermine-table tbody>tr:hover {
	background-color: rgba(180, 180, 180, 0.938);
}

.hermine-table>tbody td {
    border-bottom: 2px solid black;
}

.btn-margin{
	margin-top: 5px;
}
